<h2 class="page-header">New Authors</h2>
<form action="/authors" method="POST"> <!-- action is url the form goes to-->
    <%- include('_form_fields') %> 
    <a href="/authors">Cancel</a>
    <button type="submit">Create</button>
</form>